:root{
    --border:rgb(82, 68, 30);
    --box:rgb(216, 140, 95);
    --read-more:rgb(33, 38, 43);
}
nav{
    position: sticky;
    top: 0;
    width:100%;
    background-color: var(--box);
    height:50px;
    z-index: 999;
}
.head-img{
    /* text-decoration: none; */
    margin-left:1.4rem;
    margin-top: 0.3rem;
    width:130px;
}
nav ul{
    position:absolute;
    top:0.9rem;
    left:29%;
}
nav li{
    display: inline;
    padding-right:3.2rem;
}
nav li a{ 
    font-size:0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration:none;
    color:white;
}
.navimg{
    display: none;
}
@media screen and (max-width: 995px) {
    nav ul{
        width:100%;
        background-color: var(--box);
        position:absolute;
        top:3rem;
        left:0%;
    }

    nav li{
        
        display: block;
        padding-top:1.2rem;
        text-align: center;
        margin-bottom:1rem;
    }
    nav li a{ 
        font-size:0.9rem;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration:none;
        color:white;
    }
    .navimg{
        display: block;
        block-size: 15rem;
        position: absolute;
        top:3.5rem;

    }
}
.sign{
    border:2px solid white;
    border-radius: 20px;
    padding:0 10px 0 10px;
}
nav li a:hover{
    color:var(--border);
}
.head-icon{
    position:absolute;
    right:2.7rem;
    top:0.9rem;
}
.head-icon i:hover{
    color:var(--border);
}
.head-icon i{
    cursor: pointer;
    color:white;
    padding-left:1rem;
    font-size:1.1rem;
}
.navbar-toggler{
    position: absolute;
    color:aliceblue;
    top:1.2rem;
    right:0.6rem;
}
.navbar-toggler:hover{
    color:var(--border);
}